@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    background-color: grey;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    background-color: lightgray;
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.main {
    display: contents;
    flex-direction: row;
}

.table {
    border: 2px solid black;
    width: 200px;
    height: 150px;
    box-shadow: 2px 3px #888888;
    border-radius: 10px;
}

.btn {
    background-color: grey;
    border: 1px solid;  
    box-shadow: 2px 3px #888888;
}